<h1>Registration</h1>

<% if flash[:error] %>
    <span style="color:#ff440a;"><%= flash[:error] %></span><br />
<% end %>

<form action="/registration" method="POST">

  <label>
    Username:
    <input type="text" name="name"/>
  </label><br/>

  <label>
    Password:
    <input type="password" name="password"/>
  </label><br/>

  <input type="submit" value="Sign Up">
</form>
<a href="/login">I already have an account</a>